* {
  box-sizing: border-box;
}

body {
  background: url(background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

.form {
  height: 200px;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(225, 230, 241, 0.7);
  z-index: 2000;
  text-align: center;
}

#board {
  width: 94%;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  align-items: center;
}

.uploadbtndiv {
  overflow: hidden;
  display: block;
}

.ul {
  display: inline-flex;
  flex-wrap: wrap;
}

.imagesContainer:hover {
  border-color: yellow;
}

img {
  width: 300px;
  height: 300px;
}
.imageDisplay {
  align-items: center;
  justify-content: stretch;
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  display: inline;
}
.imagesContainer {
  height: 360px;
  width: 304px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  float: left;
}

.imgtxt {
  font-size: 12px;
  color: rgb(17, 112, 154);
  word-wrap: break-word;
}

p {
  font-family: monospace;
  font-size: 20px;
}
.uploadform {
  text-align: center;
}

.form {
  display: block;
}

.form input:required {
  border-left-color: red;
}

.btn {
  border: 2px solid rgba(#283eb3, 0.81);
  color: #91d0c5;
  background-color: grey;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.uploadbtndiv input[type="file"] {
  margin-top: 10px;
  line-height: 2;
  padding: 10px;
}

.form input[type="text"] {
  padding: 0.5rem;
}

.modal-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  position: fixed;
  font-family: "Source Sans Pro", Arial, sans-serif;
  z-index: 20000;
  opacity: 1;
  background: rgba(43, 44, 68, 0.67);
}
.image-modal {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border: 3px solid black;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  width: 90%;
  height: 80%;
  position: fixed;
  background: url(background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: grey;
  background-blend-mode: screen;
}

.bigOne {
  height: 400px;
  width: 400px;
}

.commentsContainer {
  overflow: auto;
}

.spinne {
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 99999;
  visibility: hidden;
}
.spinne img {
  height: 100px;
  position: absolute;
}
